<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <style>
     #map {
        width: 500px;
        height: 500px;
      }
      </style>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- PLACES API -->

    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCz8KPGUWJzzmBPHXerTA9nDTS5ptGoQc&libraries=places"></script> -->

    <!-- GOOGLE MAP API-->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCz8KPGUWJzzmBPHXerTA9nDTS5ptGoQc&callback=initMap"
     type="text/javascript"></script> -->

  </head>

  <body>
    <nav>Navigation</nav>

    <div>
      <form id="newToDo" action="/todo" method="POST">
        <textarea id="search" placeholder="Add new to-do"></textarea>
        <button type = 'submit'>Compose</button>
      </form>
    </div>

    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header">To Read</div>
        <div class="collapsible-body">
          <ul class="collapsible popout to_read_list">
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header">To Watch</div>
        <div class="collapsible-body">
          <ul class="collapsible popout to_watch_list">

          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header">To Eat</div>
        <div class="collapsible-body">
          <ul class="collapsible popout to_eat_list">
              <li>
                </li>
                </ul>
          </div>
        </li>

        <li class>
        <div class="collapsible-header">To Buy</div>
        <div class="collapsible-body">
          <ul class="collapsible popout to_buy_list">
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Miscellaneous</div>
        <div class="collapsible-body">
          <ul class="collapsible popout misc_list">

          </ul>
        </div>
      </li>
    </ul>

    <footer>
      Footer
    </footer>
  </body>
</html>
