<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
  </head>

  <body>
    <nav><i class="fas fa-check-circle"></i> To-do List
    <% if(locals.user) { %>
      <form action="/logout" method="POST">
        <button type="submit" class="logout waves-effect waves-light btn" name="logout" value="<%= user %>">
          Logout
        </button>
      </form>
    <% } else { %>
      <form>
        <button type="submit" class="logout waves-effect waves-light btn">
          Log In
        </button>
      </form>
    <% }; %>
    </nav>

    <% if(!locals.user) { %>
      <div>

        <div id="login">
          <form></form>
        </div>

        <div id="register">

          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="full_name" type="text" class="validate">
                  <label for="full_name">Full Name</label>
                </div>
              </div>
              <div class="row"></div>
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">E-mail</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col s6">
                  <input id="password" type="password" class="validate">
                  <label for="password">Re-enter Password</label>
                </div>
              </div>
              <button type="submit" class="waves-effect waves-light btn-large">Register</button>

            </form>
          </div>

        </div>
      </div>
    <% } else { %>

    <div>
      <form id="newToDo">
        <textarea name="compose" id="compose" placeholder="Add new to-do"></textarea>
        <button type="submit" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></button>
      </form>
    </div>

    <div class="input-field col s12">
      <select id="views">
        <option value="1" id="view-todo">To-do</option>
        <option value="2" id="view-completed">Completed</option>
      </select>
      <label>View:</label>
    </div>

    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header category">
          <div><i class="fa fa-glasses"></i><i class="fas fa-book-open"></i><h2 id="read">To Read</h2></div>
            <a class="arrow-icon">
              <span class="left-bar"></span>
              <span class="right-bar"></span>
            </a>
        </div>
        <div class="collapsible-body">
          <ul class="collapsible popout to_read_list">
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header category">
          <div><i class="fas fa-desktop"></i><h2 id="watch">To Watch</h2></div>
          <a class="arrow-icon">
            <span class="left-bar"></span>
            <span class="right-bar"></span>
          </a>
        </div>
        <div class="collapsible-body">
          <ul class="collapsible popout to_watch_list">

          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header category">
          <div><i class="fas fa-utensils"></i><h2 id="eat">To Eat</h2></div>
          <a class="arrow-icon">
            <span class="left-bar"></span>
            <span class="right-bar"></span>
          </a>
        </div>
        <div class="collapsible-body">
          <ul class="collapsible popout to_eat_list">
              <li>
                </li>
                </ul>
          </div>
        </li>

        <li>
        <div class="collapsible-header category">
          <div><i class="fas fa-shopping-bag"></i><h2 id="buy">To Buy</h2></div>
          <a class="arrow-icon">
            <span class="left-bar"></span>
            <span class="right-bar"></span>
          </a>
        </div>
        <div class="collapsible-body">
          <ul class="collapsible popout to_buy_list">
          </ul>
        </div>
      </li>

    </ul>

    <% }; %>


  </body>
</html>
