.collapsible * {
  border-radius: 10px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.collapsible.popout>li {
  display: block;
  overflow: auto;
  margin-bottom: 7px;
  background-color: $light;
  .active {
    background-color: $light;
  }
  img {
    float: left;
    max-height: 140px;
  }
}

.collapsible-body {
  border: none;
}
