// See: https://sass-lang.com/
// https://coolors.co/333533-fbf2c0-656256-b6c8a9-f5f8de

// declare variables
$light: #F4F4F9;
$medium-light: #B8DBD9;
$medium: #586F7C;
$medium-dark: #2F4550;
$dark: #191919;
$font: sans-serif;

body {
  background-color: $medium-light;
  font-family: $font;
  // background-color: rgba(50, 52, 50, 0.48);
  // background-image: url("../public/images/light-honeycomb.png");

  h1 {
    color: $light;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: -26px;
    left: 90px;
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
    letter-spacing: 3px;
    margin: auto 0;
    text-transform: uppercase;
    display: inline-block;
  }

  p {
    font-size: 14px;
  }

  .btn {
    border-radius: 10px;
    background-color: $medium-dark;
    cursor: pointer;
  }

  .btn:hover {
    background-color: $medium;
  }
}

@import 'nav';
@import 'loginreg';
@import 'compose';
@import 'views';
@import 'list';
